powercoachapp/bbelldetectioncreatefile.py
powercoachapp/bbelldetectiondatasetcreator.py
powercoachapp/apikeys.py
powercoachapp/test.py
powercoachapp/bbelldetecset.coco/
powercoachapp/OLDSELFTRAINEDBBELLDETECTSET/
powercoachapp/__pycache__/