# Created by venv; see https://docs.python.org/3/library/venv.html

.vscode/
.vscode/**
bbelldetectionmodel.gz/
bbelldetectionmodel.gz/**
cachetest/
cachetest/**
cachetrain/
cachetrain/**
cachevalid/
cachevalid/**

powercoachapp/bbelldetectiondatasetapikeys.py
powercoachapp/bbelldetecset.coco/
powercoachapp/bbelldetecset.coco/**
powercoachapp/__pycache__/
powercoachapp/__pycache__/**

powercoachapplocal/database.db

py3.11venv/
py3.11venv/**

test_venv/
test_venv/**

absl_py-2.2.2-py3-none-any.whl
array_record-0.7.1-cp311-cp311-macosx_11_0_arm64.whl
etils-1.12.2-py3-none-any.whl
fsspec-2025.3.2-py3-none-any.whl
importlib_resources-6.5.2-py3-none-any.whl
pyproject.toml
installed.txt
requirements.in
requirementsbackup.txt
requirementslaterbackup.txt
traincocodataset.json
typing_extensions-4.13.1-py3-none-any.whl
zipp-3.21.0-py3-none-any.whl


__pycache__/
__pycache__/**
*.pyc
.DS_Store
PowerCoachFrontend/PowerCoachFrontend.xcodeproj/project.xcworkspace/xcuserdata/
PowerCoachFrontend/PowerCoachFrontend.xcodeproj/project.xcworkspace/xcuserdata/**
PowerCoachFrontend.xcodeproj/project.xcworkspace/xcuserdata/brian.xcuserdatad/
PowerCoachFrontend.xcodeproj/project.xcworkspace/xcuserdata/brian.xcuserdatad/**
PowerCoachFrontend/PowerCoachFrontend.xcodeproj/xcuserdata/brian.xcuserdatad/
PowerCoachFrontend/PowerCoachFrontend.xcodeproj/xcuserdata/brian.xcuserdatad/**