# Created by venv; see https://docs.python.org/3/library/venv.html
*
!.gitignore
!powercoachapp/models/
!powercoachapp/models/**
!powercoachapp/sqlmodels.py
__pycache__/
*.pyc
.DS_Store
PowerCoachFrontend/
PowerCoachFrontend/**