# Created by venv; see https://docs.python.org/3/library/venv.html
*
!.gitignore
!powercoachapp/
!powercoachapp/sqlmodels.py

!powercoachapp/models/
!powercoachapp/models/**

__pycache__/
*.pyc
.DS_Store
PowerCoachFrontend/PowerCoachFrontend.xcodeproj/project.xcworkspace/xcuserdata/
PowerCoachFrontend/PowerCoachFrontend.xcodeproj/project.xcworkspace/xcuserdata/**
PowerCoachFrontend.xcodeproj/project.xcworkspace/xcuserdata/brian.xcuserdatad/
PowerCoachFrontend.xcodeproj/project.xcworkspace/xcuserdata/brian.xcuserdatad/**
PowerCoachFrontend/PowerCoachFrontend.xcodeproj/xcuserdata/brian.xcuserdatad/
PowerCoachFrontend/PowerCoachFrontend.xcodeproj/xcuserdata/brian.xcuserdatad/**