bs4
click
eventlet
flask
flask-login
flask-socketio
flask_scss
flask_sqlalchemy
mediapipe
mediapipe_model_maker
numpy
opencv-python
psutil
psycopg2-binary
keras
tensorflow
requests
Werkzeug
tensorflow-datasets==4.9.8
array_record==0.7.1